<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.offcn.po.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>  
  <sql id="Base_Column_List">
    id, username, password, state, create_time
  </sql>   
  <select id="selectByAuth"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shiro.user
    where username= #{username,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
  </select>    
  
</mapper>